body, html {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 1, 8);
    color: #ffffff; 
    font-family: 'Yu Gothic Medium'; 
    text-align: center;
    min-width: 1920px;
    min-height: 1080px;
  }
  span {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1 {
    text-align: left;
    margin-left: 5px;
    font-size: 50px;
    background: -webkit-linear-gradient(hsl(283, 100%, 50%), #3103ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  p {
    font-family: Arial;
    font-size: 20px; 
  }
   /*-------*/
  /* simple kode */

  .MainBody {
    z-index: 2;
    top: 0px;
    left: 0px;
    align-self: center;
    margin: auto;
    width: 70%;
    height:850px;
  }


  /*-------*/
 /* Footer*/

 footer {
    background-color: rgba(30,30,30, 0.5);
    color: rgb(92, 92, 92);
    align-self: center;
    bottom : 0px;
    height : 70px;
    width: 99%;
  }

  address {
    font-size: 10px;
  }

 .Fcontainer {
    align-self: center;
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
 }

   /*-------*/
  /* Containers */

.container1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 30% 70%;
}

.GridItem {
    z-index: 2;
    font-size: 50px;
}
.GridItem4 {
  box-shadow: 10px 10px 30px #000000;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgba(44, 40, 110, 0.6);
  /* background: linear-gradient(90deg, rgba(177,0,0,0.6) 0%, rgba(241,177,52,0.6) 100%); */
  background: linear-gradient(55deg, rgba(122,0,114,0.6) 0%, rgba(1,117,125,0.6) 100%);
  backdrop-filter: blur(5px);
}

.GridItem2 {
  z-index: 4
}
.GridItem4 {
  font-size: 20px;
}
 /*-------*/
/* List */

.container2 {
    height: 100%;
    display: grid;
    grid-auto-rows: 7%;
    grid-template-columns: 95%;
    grid-row-gap: 15px;
    margin-left: 10%;
}

.ListItem {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
  background-color: rgb(44, 40, 110);
}
.ListItem2 {
  height: 150%;
  margin-right: 20px;
  background-color: rgba(44, 40, 110, 0);
}

.TabButtonButtonDiv {
  height: 70%;
  margin-top: 10px;
  margin-left: 10%;
  text-align: left;
  font-size: 30px;
  text-align: center; 
  width: 100%; 
  font-weight: bolder;
}
.TabButtonButton{
  background: linear-gradient(90deg, rgba(98,98,98,0.2) 0%, rgba(61,61,61,0.2) 100%);
  backdrop-filter: blur(2px);
  border: none;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  color: white;
  transition: 0.5s;
}
.TabButtonButton:hover {
  backdrop-filter: blur(8px);
  letter-spacing: 2px;
  color: yellow;
}


.Activated{
  background: linear-gradient(45deg,rgba(114,41,190,0.6) 0%, rgba(51,26,77,0.6) 50%, rgba(114,41,190,0.6) 100%);
  backdrop-filter: blur(6px);
}


.Switch1 {
  font-size: 40px;
}

    /*-------*/
  /* Selectors */
  .selectorFake {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }

.selectorItem {
  display: grid;
  grid-template-columns: repeat(9, 20%);
  grid-template-rows: 100%;
  grid-column-gap: 15px;
  align-items: end;
}
.selectorButton {
  z-index: 4;
  font-size: 20px;
  height: 70%;
  align-items: end;
  margin-top: 10px;
}

.selectorActualButton {
  z-index: 4;
  background-color: rgba(44, 40, 110, 0);
  border: none;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  transition:0.5s;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


.selectorActualButton:hover {
  letter-spacing: 3px;
  background-color: rgba(196, 196, 196, 0.2);
  backdrop-filter: blur(5px);
}

.selectorToolsButton {
  background-color: rgba(44, 40, 110, 0);
  border: none;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  transition: linear 0.25s;
}

.selectorToolsButton:hover {
  letter-spacing: 3px;
  background-color: rgba(196, 196, 196, 0.2);
  font-weight: 700;
  backdrop-filter: blur(5px);
  color: yellow;
  text-shadow: 0 0 10px #000000;
}

.selectorActualButtonSelected {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: none;

  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
}

.BcfbMain {
  background: linear-gradient(90deg, rgba(79,42,117,0.6) 0%, rgba(63,57,119,0.6) 100%);

  backdrop-filter: blur(5px);
}
.BcfbCC {
  background: linear-gradient(90deg, rgba(61,58,119,0.6) 0%, rgba(46,73,121,0.6) 100%);
  backdrop-filter: blur(5px);
}
.BcfbTBA {
  background: linear-gradient(90deg, rgba(35,83,121,0.6) 0%, rgba(23,95,123,0.6) 100%);
  backdrop-filter: blur(5px); 
}




.tabcontent {
  height: 100%;
  width: 100%;
}
  /*-------*/
  /* LukasPi */

.LukasPi {
  text-align: left;
  margin-left: 90px;
  margin-top: 20px;
  font-size: 50px;
  font-family: Arial;
  font-weight:900;
  background: -webkit-linear-gradient(hsl(283, 100%, 50%), #3103ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Console*/

.Preconsole1 {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  margin-top: -50px;
  border: 5px solid rgb(73, 73, 73);
  border-radius: 14px;
  background: linear-gradient(151deg, rgba(30,30,30,1) 27%, rgba(24,24,24,1) 100%);
  box-shadow: 0 0 20px #000000;
  transition: 0.5s;
}
.Preconsole1:hover{
  margin-left: -1.5%;
  margin-top: -50px;
  height: 102.5%;
  width: 102.5%;
  box-shadow: 0 0 40px #000000;

}

.SimpleConsoleText {
  height: 100%;
  width: 100%;
  text-align: left;
  margin-left: 10px;
}


/*simple button grid*/
.SimpleButtonGrid {
  display: grid;
  grid-row-gap: 5px;
  grid-auto-columns: minmax(30px, auto)
}
.SimpleButtonDiv {
  grid-row-gap: 5px;
}

/*Performance*/

.PerformanceDiv1 {
  display: grid;
  margin-top: 10px;
  margin-left: 10px;
  grid-template-columns: 32% 60%;
  grid-template-rows: 100%;
  grid-column-gap: 20px;
  height:  97%;
}
.PerformanceDivColor{
  background-color: rgba(255, 0, 0, 0);
}
.PerformanceInfoDiv{
  height: 95%;
  width: 100%;
  display: grid;
  grid-auto-rows: 40px;
  grid-row-gap: 10px;
  text-align: left;
  margin-left: 20px;
  border: rgb(83, 83, 83) solid 3px;
  border-radius: 10px;
}
.PerformanceInfoDiv2 {
  height: 35%;
}

.PerformanceInfoSubGrid{
  height: 100%;
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
}
.PerformanceInfoSubDiv1{
  height: 100%;
  text-align: right;
  width: auto;
}
.PerformanceInfoSubDiv2{
  height: 100%;
  text-align: left;
  width: auto;
  margin-left: 10px;
}
.taskTable{
  display: grid;
  height: 700px;
  width: 100%;
  overflow: auto;
  margin-left: 20px;
  font-size: large;

  grid-template-columns: 60% 20% 20% ;
  grid-template-rows: repeat(auto-fill, 30px);
}


/*Monster cock energy/
/*Performance*/
.AddPageThingy {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 90% ;
}

.Coloredbox1 {
  background-color: rgba(255, 0, 0, 0);
}

.Coloredbox2 {
  background-color: rgba(0, 128, 0, 0);
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100% ;
}

.Coloredbox3 {
  background-color: rgba(139, 0, 0, 0);
}

.Coloredbox4 {
  background-color: rgba(0, 0, 255, 0);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
}

.ReloadInsertPage {
  height: 50px;
  width: 300px;
  background-color: rgba(44, 40, 110, 0);
  font-size: 20px;
  color: white;
}
.Loader {
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.inputbox {
  height: 50px;
  width: 250px;
  font-size: 30px;
}
.inputbox2 {
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.InsertFileDiv {
  height: 100%;
  width: 100%;
}

.into3box{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 100%;
}

.into2box{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 15% 8% 77%;
}

.tempboxcolor1 {
  background-color: red;
  height: 100%;
  width: 100%;
}

.tempboxcolor2 {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.buttonStart {
  background: linear-gradient(34deg, rgba(97,139,19,1) 0%, rgba(5,219,150,1) 100%);
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 25px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  height: 100%;
  width: 100%;
  transition:0.5s;
}
.buttonStart:hover {
  letter-spacing: 3px;
  height: 120%;
  font-size: 28px;
  color:yellow;
  box-shadow: 0 0 25px rgb(10, 179, 10);
}


.buttonSubmit {
  background: linear-gradient(34deg, rgba(97,139,19,1) 0%, rgba(5,219,150,1) 100%);
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 25px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  height: 70px;
  width: 150px;
  transition:0.5s;
}
.buttonSubmit:hover {
  letter-spacing: 1px;
  font-size: 28px;
  color:yellow;
  box-shadow: 0 0 25px rgb(10, 179, 10);
}

.buttonunsubmit {
  background: linear-gradient(34deg, rgba(255,0,0,1) 20%, rgba(255,109,0,1) 100%);
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 25px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  height: 70px;
  width: 150px;
  transition:0.5s;
}
.buttonunsubmit:hover {
  letter-spacing: 1px;
  font-size: 28px;
  color:yellow;
  box-shadow: 0 0 25px rgb(243, 3, 3);
}




.buttonShutdown {
  border: none;
  border-radius: 13px;
  background: linear-gradient(34deg, rgba(255,4,4,1) 0%, rgba(255,161,3,1) 100%);
  color: white;
  font-size: 25px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  height: 100%;
  width: 100%;
  transition:0.5s;
}
.buttonShutdown:hover {
  color:yellow;
  letter-spacing: 3px;
  height: 120%;
  font-size: 28px;
  box-shadow: 0 0 25px rgb(255, 102, 0);
}

.buttonSettings {
  background-color: rgba(255, 0, 0, 0);
  color: white;
  font-size: medium;
  text-shadow: 0 0 3px #000000, 0 0 10px #000000;
  height: 30px;
  width: 20%;
  margin-left: 10px;
}

.buttondivs {
  display: grid;
  align-items: left;
  grid-template-rows: 60px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 10px;
  margin-top: 30px;
}

.rotated {
  display: flex;
  height: 100%;
  flex-direction: column;
  Overflow-y:scroll
}

.StatusText{
  font-size: large;
  margin-top: 15px;
  margin-left: 40px;
}
.StatusPgr{
  display: grid;
  align-items: left;
  grid-template-rows: 100px;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}

.StatusboxRed {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 20px;
}

.StatusboxGreen {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 255, 42);
  border-radius: 20px;
}

.buttonDelete {
  border: none;
  width: 30px;
  border-radius: 13px;
  transition: 0.5s;
  background: linear-gradient(34deg, rgba(255,0,0,1) 20%, rgba(255,109,0,1) 100%);
  font-size: 1px;
  color: rgba(255, 0, 0, 0);
}
.buttonDelete:hover {
  letter-spacing: 3px;
  font-size: 28px;
  width: 100%;
  font-weight: 700;
  color: yellow;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  box-shadow: 0 0 25px rgb(255, 0, 0);
}


.backround2 {
  text-align: left;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  height: 100%;
  width: 100%;
}

/* -========================- */
.backround{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 1920px;
   min-height: 1080px; 
  z-index: 1;
  
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: rgb(37, 40, 59); 
  word-wrap: break-word;
  user-select: none;

  align-self: center;
  margin: auto;
  width: 70%;
  height:850px;

  /* background-image: linear-gradient(to right, rgba(22,24,34,1) 0%, rgba(67,72,98,1) 50%, rgba(29,32,46,1) 100%); */
  background-image: radial-gradient(circle at center, rgba(29,32,46,1) 0%, rgba(42,46,66,1) 27%, rgba(67,72,98,1) 50%, rgba(42,46,66,1) 70%, rgba(29,32,46,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;  

  animation: animatedText 10s infinite alternate-reverse;
}

@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}

.Toolsdivbinder {
  
  margin-left: 10%;
  height: 500px;
  width: 80%;
  border-radius: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar
{
	width: 5px;

}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #f5f5f556;
}

.txtO {
  display: none;
}

.bigText {
  font-size: larger;
}

.GridToolMaker {
  border-top-left-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 60%;

  width: 1300px;
}

.GridToolMaker2 {
  width: 100%;
  height: 100%;
}